@import "/node_modules/normalize-scss/sass/normalize";
@include normalize();

:host {
  display: block;
  background-color: #fff;
  align-items: center;
  background-image: url("../assets/img/heroes.png");
  background-position: center bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 992px) {
  :host {
    background-size: 80% auto;
  }
  _:-ms-lang(x),
  :host {
    background-size: 75% auto;
  }
}

@media (min-width: 1200px) {
  :host {
    background-size: 60% auto;
  }
  _:-ms-lang(x),
  :host {
    background-size: 55% auto;
  }
}

.container {
  width: 100%;
  height: 100%;
}

.container>h1 {
  color: #e6003a;
  font-size: 3.998em;
  line-height: 1;
  margin: 0;
  padding: 15px 0px;
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
}

nav {
  display: flex;
  margin: 10px 0px 15px 0px;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  height: 40px;
  margin: 10px 10px;
  font-family: 'Luckiest Guy', cursive;
  font-size: 1.5rem;
}

button:-moz-focusring {
  outline: transparent;
}

button::-moz-focus-inner {
  border: 0;
}

_:-ms-lang(x),
button {
  line-height: 0.9;
  padding: 0px 0.275em;
}

_:-ms-lang(x),
.container>h1 {
  line-height: 0.9;
}

_:-ms-lang(x),
nav {
  margin: 0px;
  margin-bottom: 15px;
}