h2 {
    color: #e6003a;
    font-size: 2.827em;
    line-height: 1;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    border-radius: .25rem;
    margin: 0px 0.275em 0.275em 0.275em;
  }
  
  a {
    color: #343a40;
    outline: 0;
  }
  
  a:-moz-focusring {
    outline: transparent;
  }
  
  pre {
    height: 40px;
    color: #343a40;
    font-family: 'Luckiest Guy', cursive;
    border-radius: .25rem;
    background-color: white;
    border: 1px solid #343a40;
    padding: 0.275em 0.275em 0px 0.275em;
    overflow-y: hidden;
  }
  
  .row {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  _:-ms-lang(x), pre {
      line-height: 0.9;
    }