h2 {
    color: #e6003a;
    font-size: 2.827em;
    line-height: 1;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    border-radius: .25rem;
    margin: 0px 0.275em 0.275em 0.275em;
  }
  
  .input-group {
    height: 36.59px;
  }
  
  .input-group-prepend {
    z-index: 2;
  }
  
  .input-group-text {
    width: 69.03px;
    position: relative;
    border: 1px solid #343a40;
    background-color: #343a40;
    cursor: pointer;
    color: #fff;
    font-family: 'Luckiest Guy', cursive;
  }
  
  .input-group-text:hover {
    border: 1px solid #23272b;
    background-color: #23272b;
  }
  
  .list-group-item.list-group-item-action {
    cursor: pointer;
    height: 40px;
    line-height: 1;
  }
  
  .input-group-text span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 1.5rem;
  }
  
  _:-ms-lang(x),
  .input-group-text span {
    line-height: 1.2;
  }
  
  .list-group.search-result {
    padding-bottom: 1rem;
  }
  
  .list-group-item.list-group-item-action:-moz-focusring {
    outline: transparent;
  }
  
  .form-control {
    height: 40px;
    border: 1px solid #333;
    z-index: 2;
  }
  
  .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, .5);
  }
  
  button {
    position: absolute;
    right: 0px;
    bottom: 0px;
    top: 0px;
    margin: auto;
    text-align: center;
    outline: 0;
  }
  
  button:-moz-focusring {
    outline: transparent;
  }
  
  button svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  